@{
    ViewData["Title"] = "Contacto";
}

<article class="p-4 bg-white border rounded shadow-sm">
    <h2 class="text-primary">Información de Contacto</h2>
    <hr />

    <div class="mt-4">
        <h5>Encuéntranos en nuestra sucursal principal:</h5>
        <ul class="list-group list-group-flush mt-3">
            <li class="list-group-item bg-transparent"><strong>Dirección:</strong> Av. Principal 123,Puerto Montt, Región De Los Lagos.</li>
            <li class="list-group-item bg-transparent"><strong>Teléfono:</strong> +56 9 1234 5678</li>
            <li class="list-group-item bg-transparent"><strong>Email:</strong> contacto@farmacia.cl</li>
            <li class="list-group-item bg-transparent"><strong>Soporte Técnico:</strong> soporte@farmacia.cl</li>
        </ul>
    </div>
</article>