@{
    ViewData["Title"] = "Inicio";
}

<article class="p-4 bg-white border rounded shadow-sm">
    <h2 class="text-primary">Bienvenido a nuestra Farmacia</h2>
    <p class="fs-5">Cuidando tu salud con los mejores estándares de calidad. Nuestro sistema te permite visualizar y gestionar el inventario en tiempo real.</p>
    <a class="btn btn-primary btn-lg mt-2" asp-controller="Medicamentos" asp-action="Index">Ver Catálogo de Medicamentos</a>
</article>